###> symfony/framework-bundle ###
/.env.local
/.env.prod
/bnls_2024/
/config/secrets/prod/prod.decrypt.private.php
/html/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###
